.about{
    display: flex;
    // background-color: rebeccapurple;
    &__left{
        width: 12vw;
        height: 100%;
        // height: 500px;
        background-color: aqua;
        background-image: url(../img/nathan-dumlao-YNSdNgcseLo-unsplash.jpg);
        background-size: cover;
        background-position: 60% 50%;
        // background-size: 110% 110%;
        // background-position: center center;
        // animation: shrink 10s infinite alternate;
    }
    &__contact-btn{
        width: 15rem;
        height: 7rem;
        // border-radius: 100%;
        background: $black;
        color: $white;
        transform: rotateY(40deg);
    }
    &__right{
        width: 88vw;
        height: 100%;
        background-color: #ffffff;
        padding: 5rem;
    }
    &__desc{
        font-size: clamp(1.8rem, 2vw, 3rem);
        color: #1E1E1E;
    }
}

// @keyframes shrink {
//   0% {
//     background-size: 110% 110%;
//   }
//   100% {
//     background-size: 100% 100%;
//   }
// }

/* Medium viewable area STARTS*/
@media screen and #{$tablet}{
    .about{
        &__left{
            width: 17vw;  
        }
        &__right{
            width: 83vw;
        }
    }
}
/* Medium viewable area ENDS*/

/* Large viewable area STARTS*/
@media screen and #{$desktop}{
    .about{
        &__left{
            width: 20vw;  
        }
        &__right{
            width: 80vw;
        }
    }
}
/* Large viewable area ENDS*/