// media queries
$mobile: "(max-width: 600px)";
$tablet: "(min-width:601px) and (max-width:1023px)";
$desktop: "(min-width:1024px)";

// fonts
$heading-font: 'Yellowtail', cursive;
$body-font: 'Roboto Mono', monospace;

$regular: 400;
$bold: 700;

// colors
$white: #FFFFFF;
$black: #000000;
$dark-blue: #464475;
$med-blue: #6D93C2;
$light-blue: #ACDFF2;
$magenta: #B31F53;
$pink: #EC4B6D;
