@import "var";
@import "resets";
@import "projects";
@import "modal";
@import "about";
@import "contact";
@import "footer";


main{
    color: white;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex; 
    display: flex;
    overflow-x: auto;
}

section{
    width: 100vw;
    height: 98vh;
    flex: none;
}

.section--short{
    width: 10vw;
}


/* Medium viewable area STARTS*/
@media screen and #{$tablet}{
    // section{
    //     width: 83vw;
    //     height: 98vh;
    // }
}
/* Medium viewable area ENDS*/

/* Large viewable area STARTS*/
@media screen and #{$desktop}{
    // section{
    //     width: 80vw;
    //     height: 98vh;
    // }
}
/* Large viewable area ENDS*/